
{% load static %}
<!-- about us css start-->
    <section class="about_us section_padding">
        <div class="container">
            <div class="row alig{% include 'header.html' %}
n-items-center">
                <div class="col-lg-6">
                    <div class="about_img">
                        <img src="{% static 'img/about_img.png' %}" alt="#">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about_text">
                        <h5>Who we are</h5>
                        <h2>We love to discover around the world</h2>
                        <p>A visa is an official document or endorsement stamped in a passport by the immigration authorities of a country, indicating that the holder has permission to enter, leave, or stay for a specified period within that country</p>
                        <p>A visa is an official document or endorsement stamped in a passport by the immigration authorities of a country, indicating that the holder has permission to enter, leave, or stay for a specified period within that country</p>
                        <p>A visa is an official document or endorsement stamped in a passport by the immigration authorities of a country, indicating that the holder has permission to enter, leave, or stay for a specified period within that country</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about us css end-->



{% include 'footer.html' %}