{% include 'header.html' %}

{% load static %}

{% block content %}
{% if messages %}
  {% for message in messages %}
   {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
{% endif %}

<section class="event_part section_padding" style="background-image: url('https://tse2.mm.bing.net/th?id=OIP.45QNmc_Yn4jGCsJnSCBj_wHaE8&pid=Api&P=0&h=180'); background-size: cover; background-position: center;">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 bg-light ">
        <h1 align="center">Registration Form</h1>
        <form method="post" action="{% url 'registration_view' %}">
          {% csrf_token %}

          <div class="form-group">
            <label>Email address</label>
            <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" name="name">
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="tel" class="form-control" placeholder="Phone Number" name="phone">
          </div>
          <div class="form-group">
            <label for="Gender">Gender:</label>
            <select id="Gender" name="Gender" required>
                <option value="">Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Others</option>
            </select>
          </div>
          <div class="form-group">
              <label for="nationality">Nationality:</label>
            <select id="nationality" name="nationality" required>
                <option value="">Select Nationality</option>
                <option value="us">United States</option>
                <option value="uk">United Kingdom</option>
                <option value="ca">Canada</option>
                <option value="in">India</option>
                <option value="au">Australia</option>
                <option value="br">Brazil</option>
                <!-- Add more options as needed -->
            </select>
          </div>
            <div class="form-group">
              <label for="Type of visa">Type of visa:</label>
            <select id="Type of visa" name="Type of visa" required>
                <option value="">Select Type of visa</option>
                <option value="cv">Child passport</option>
                <option value="Bv">New passport</option>
                <option value="ca">lost passport</option>
                <option value="in">new passport</option>
                <option value="au">stolen passport</option>
                <!-- Add more options as needed -->
            </select>
          </div>
          <div class="form-group" align="center">
          <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
{% endblock %}

{% include 'footer.html' %}
